@charset "utf-8";

.head{
	background:url(../images/bg_t.png) 0 0 no-repeat;
	background-size:100%;
}
.head .logo h3{
	padding-left: 40px;
	font: bold  24px/30px '黑体';	
}
.title-r{
	float:right; 
	height: 30px;
	background: -webkit-linear-gradient(#f2a618, #e95811); /* Safari 5.1 - 6.0 */
  	background: -o-linear-gradient(#f2a618, #e95811); /* Opera 11.1 - 12.0 */
  	background: -moz-linear-gradient(#f2a618, #e95811); /* Firefox 3.6 - 15 */
  	background: linear-gradient(#f2a618, #e95811); /* 标准的语法 */
	border-radius:0  0 15px 15px;
}
.title-r ul li{
	border-right:1px solid #ccc;
	float:left;
	background:url(../images/title-s.jpg) no-repeat center right;
	padding:0 17px;
	position:relative;
}
/*导航*/
.nav-pills{
	background: url(../images/nav.png) 0 0 no-repeat;
	background-size: 100%;
}
.nav-pills li a{
	color:black;
	margin-left: 40px;
	font:300 16px/1em '微软雅黑';

}

.logo{ 
	clear:both; 
	height:70px;
}

.logo h3 {
	vertical-align:middle;
	line-height: 70px;
}

/* page */
.page li a{
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page > li > a:hover{
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.page > .active > a{
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.w40{
	width: 40px;
}

.contenttitle{
	height: 30px;
	width: 150px;
	background-color: red;
	line-height: 30px;
}

.closewidow{
	float: right;
	height: 30px;
	width: 150px;
	background-color: red;
	line-height: 30px;
}


/* footer*/
.footer{
	clear: both;
	padding-top:5px;
	border-top:1px solid #999;
	background: url(../images/bg_b.png) 0 0 no-repeat;
	background-size:100%;
}
.footer-c{
	width: 400px;
	height: 30px;
	margin: 0 auto;
}

.footer-c ul li{
	float:left;
	background:url(../images/title-s.jpg) no-repeat center right;
	padding:0 17px;
	position:relative;
}

.footer-copy{
	width: 135px;
	height: 30px;
	margin: 0 auto;
}