@charset "utf-8";
*{
	padding:0;
 	margin:0;
}

body{

}

ul,ol,li{
	list-style:none;
    padding:0;
    margin:0;
}

.main{
	margin: 20px 0px;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.cb{
	clear: both;
}