@charset "utf-8";

.main{
	margin: 10px 0px;
}

.main-l{
	float: left;
	width: 70%;
}

.main-r{
	float: right;
	width: 28%;

}
.head{
	background:url(../images/bg_t.png) 0 0 no-repeat;
	background-size:100%;
}
.head .logo h3{
	padding-left: 40px;
	font: bold  24px/30px '黑体';	
}
.title-r{

	background: -webkit-linear-gradient(#f2a618, #e95811); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#f2a618, #e95811); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#f2a618, #e95811); /* Firefox 3.6 - 15 */
  background: linear-gradient(#f2a618, #e95811); /* 标准的语法 */
	border-radius:0  0 15px 15px;
}
.title-r ul li{
	border-right:1px solid #ccc;
}
/*导航*/
.nav-pills{
	background: url(../images/nav.png) 0 0 no-repeat;
	background-size: 100%;
}
.nav-pills li a{
	color:black;
	margin-left: 40px;
	font:300 16px/1em '微软雅黑';

}
.m-l-site{
	width: 100%;
	height: 210px;
	background:url(../images/left_1.png ) 0 0 no-repeat;
	background-size: 120%;
}
.m-l-site  h5{
	color:#eee;
	width: 128px;
	text-align: center;
	font: normal 15px/28px '微软雅黑';
}
.account  p{
    margin-top: 45px;
    padding:0 20px;
    border-bottom: 1px dashed #ccc;
}
.account  p span{
	width:180px;
	margin-left: 60px;
	margin-bottom: 10px;
	display: inline-block;
}
.m-l-site a{
	color: #6a4a35;
	float: right;
	margin-top:-32px;
	margin-right: 30px;
}
.function ul{
	padding-left:68px;
}
.function ul li{
	width:90px;
	float: left;
    margin: 25px 20px;
}
.function ul li p{
    width: 90px;
    height: 82px;
    background: pink;
}
.journal ul{
	width: 715px;
    height: 52px;
    margin-top: 22px;
    margin-left: 38px;
    padding-left: 5px;
	border:1px solid #dfdeda;
}
.journal ul li span{
	color:#999;
	font:normal 12px/1em '微软雅黑';
}
.journal ul li .span{
	margin-left:400px;
	display: inline-block;
}


/*右侧*/
.main-r{
	padding:0 20px;
	background: url(../images/bg_r.png) 0 0 no-repeat;
	background-size:100%;
}
.main-r div h5{
	color:#eee;
	text-align: center;
	font: normal 15px/24px '微软雅黑';
}
.main-r div span{
	float: right;
	margin-top: -30px;
}
.m-r-first h6{
	color:#000;
	font: 700 13px/26px '微软雅黑';
}
.m-r-first .s{
	margin-top:80px;
}
.m-r-second{
	margin-top: 28px;
}
.m-r-second ul{
	margin-top: 28px;
	padding-left:22px;
}
.m-r-thrid{
	margin-top:45px;
}
.m-r-thrid ul{
	margin-top: 20px;
	padding-left: 22px;
}
.m-r-thrid ul li{
    width: 182px;
    margin-bottom: 8px;
}
.m-r-fourth{
	margin-top: 34px;
	margin-bottom: 50px;
}
.m-r-fourth ul{
	margin: 22px;
	padding-left:22px;
}
/*版权*/
.footer{
	clear: both;
	padding-top:5px;
	border-top:1px solid #999;
	background: url(../images/bg_b.png) 0 0 no-repeat;
	background-size:100%;
}